https://github.com/abetlen/llama-cpp-python/releases/download/v0.2.28/llama_cpp_python-0.2.28-cp310-cp310-manylinux_2_17_x86_64.whl
torch==2.1.0
sentence-transformers
langchain==0.0.174
huggingface-hub==0.19.4
pdfminer.six==20221105
unstructured==0.6.10
gradio
tabulate
azure-core